html {
    box-sizing: border-box;
    height:100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin:0;
    padding:0
}

body {
    background: linear-gradient(320deg, #eb92be,
    #ffef78, #63c9b4);
    color: #00001a;
    font-family: Helvetica;
    align-items: center;
    height:inherit;
}

.wam {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    margin:0 auto;
    border-bottom: 2px solid white;
    padding-bottom:2vh;
}

.message {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255,0.30);
    border: 1px solid rgba(255,255,255,0.1);
    width: max-content;
    justify-content: center;
    color:#232323;
    flex-basis: 400px;
    margin:10vh auto;
    padding:20px 35px;
    border-radius: 16px;
}

.uinput {
    font-size: 2em;
}


input , textarea{
    border: 1px solid rgba(255,255,255,0.1);
    width:8em;
    margin:10px;
    border-radius:15px;
    font-size: .9em;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255,0.30);
}

label {
    padding:10px;
    width: max-content;
    justify-content: center;
    margin:auto;
    display: block;
}

a, a:visited {
    text-decoration: none;
    color:black
}

.icon {
    margin:0 10px 0 0;
    position: relative;
}

.ilink, .glink {
    font-size: 20px;
    display: inline-flex; 
    align-items: center;
    vertical-align: center;
}

@font-face {
    font-family: 'trench';
    src: url(../../assets/font/TrenchThin.ttf);
}