html {
    scroll-behavior: smooth;
}

body {
    background-color: #00001a;
    color: lightblue;
    font-family: 'trench';
    margin:0;
}

.hLogo {
    pointer-events: auto;
    display: flex;
    font-family: 'navt';
    top:7vh;
    left:10vw;
    position: fixed;
    font-size: 2vw;
}

.bor1 {
    margin:10vh 0 0 8vw;
    width:30vw;
    height:30vh;
    border: 20px solid transparent; 
    border-image: linear-gradient(to bottom right, lightblue , transparent 50%);
    border-image-slice: 1;
    z-index: -1;
    animation: fadeIn 1s;
}

.bor2 {
    margin:7.5vh 0 0 60vw;
    width:30vw;
    height:30vh;
    border: 20px solid transparent; 
    border-image: linear-gradient(to top left, lightblue , transparent 50%);
    border-image-slice: 1;
    z-index: -1;
    animation: fadeIn 1s;
}

.welcome {
    display: flex;
    text-align: center;
    font-size: 10vh;
    position: absolute;
    margin:0;
    padding:0;
    top:40%;
    left:30%;
}


.svgw {
    width: 33vw;
    height:10vh;
    stroke:lightblue;
    fill:transparent;
    animation: 
        fancyText 4s,
        fillIn 1s 4s forwards;
    stroke-width: .5;
    z-index:5;
}


nav {
    pointer-events: none;
    display: none;
    opacity: 0;
    display: flex;
    font-family: 'navt';
    font-size: 1vw;
    top:5vh;
    left:39vw;
    position: relative;
    margin-right: 10vh;
    width:max-content;
    animation: 
        fadeIn 2s 1s forwards;
}


.button-wrapper {
    padding-right:2vw;
    padding-left:2.3vw;
    margin-right: 6vw;
    margin-bottom:3vh;
    width:max-content;
    border-bottom:2px solid lightblue;
    border-radius: 16px;
    transition: .3s;
    z-index: 3;
}

.button-wrapper:hover {
    border-radius: 0;
}

.button-wrapper:active {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color:lightblue;
}

a:visited { 
    color: lightblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 58%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.typ {
    font-size:8vw;
    opacity: 0;
    width:0;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        fadeIn .5s 3s forwards,
        typing 2s 5s infinite,
        cursor .4s step-end infinite alternate;
}

#About {
    display: none;
    position: fixed;
    color:lightblue;
    top: 55%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 20px;
    font-size: 3.4vh;
    width: 60vw;
}

.tj {
    opacity: 1;
}

#Projects {
    display: none;
    position: absolute;
    color:lightblue;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 10px;
    width: 60vw;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.proz {
    opacity:0;
    background-color: #00001a;
    padding: 0 1em 1em 1em;
    margin:2em;
    border-radius:16px;
    animation: slideIn 1s forwards;
    border: lightblue 2px solid;
}

.projeach:hover {
    opacity: 1;
    background-color: rgb(255,255,255,0.2);
}

.projeach {
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.proz:nth-child(1) {
    animation-delay: 0.25s;
}

.proz:nth-child(2) {
    animation-delay: .5s;
}

.proz:nth-child(3) {
    animation-delay: .75s;
}

.proz:nth-child(4) {
    animation-delay: 1s;
}

.pTitle {
    margin:2vh;
    padding:0 .5em .5em .5em;
    border-bottom: 2px solid lightblue;
}

.cont {
    margin:0 0 0 5vw ;
}

img {
    margin: 1.7vh 1.4vw 0 0;
    width: 3.5vw;
    height: 3.5vw;
    max-width: 30px;
    max-height: 30px;
    transition: transform 0.2s;
    opacity:0.7;
}

img:hover {
    transform: scale(1.2);
    opacity:1;
}

@font-face {
    font-family: 'trench';
    src: url(assets/font/TrenchThin.ttf);
}

@font-face {
    font-family: 'navt';
    src: url(assets/font/Timeburner-xJB8.ttf);
}

@keyframes fadeIn {
    from{opacity: 0;display:none}
    to{opacity: 100;display:flex;}
}

@keyframes slideIn {
    from{opacity: 0;transform: translateX(-5vw);}
    to{opacity: 100;transform: translateX(0);}
}

@keyframes cursor{
    50% { border-color : transparent }
}

@keyframes fillIn {
    from{fill:transparent;}
    to{fill:lightblue;}
}

@keyframes typing {
    0%{width:3vw;}
    50%{width:100%}
    100%{width:2.5vw}
}

@keyframes fancyText {
    from{stroke-dasharray: 0 50%;}
    to{stroke-dasharray: 50% 0;}
}


@media screen and (max-width: 870px) {
    .welcome {
        font-size: 8vw;
    }

    .button-wrapper {
        font-size: 1.8vw;
    }
}