body {
    background-color: #00001a;
    color: lightblue;
    font-family: 'trench';
    margin:0;
}

.bor1 {
    margin:10vh 0 0 8vw;
    width:30vw;
    height:30vh;
    border: 20px solid transparent; 
    border-image: linear-gradient(to bottom right, lightblue , transparent 50%);
    border-image-slice: 1;
    z-index: -1;
    animation: fadeIn 1s;
}

.bor2 {
    margin:7.5vh 0 0 60vw;
    width:30vw;
    height:30vh;
    border: 20px solid transparent; 
    border-image: linear-gradient(to top left, lightblue , transparent 50%);
    border-image-slice: 1;
    z-index: -1;
    animation: fadeIn 1s;
}


.welcome {
    text-align: center;
    font-size: 10vh;
    position: absolute;
    margin:0;
    padding:0;
    top:36%;
    left:30%;
}


.svgw {
    width: 33vw;
    height:10vh;
    stroke:lightblue;
    fill:transparent;
    animation: 
        fancyText 4s,
        fillIn 1s 4s forwards;
    stroke-width: .5;
    z-index:5;
}


nav {
    opacity: 0;
    display: flex;
    font-family: 'navt';
    font-size: 1vw;
    top:5vh;
    left:39vw;
    position: relative;
    margin-right: 10vh;
    width:max-content;
    animation: 
        fadeIn 2s 1s forwards;
}


.button-wrapper {
    padding-right:2vw;
    padding-left:2.3vw;
    margin-right: 6vw;
    margin-bottom:3vh;
    width:max-content;
    border-bottom:2px solid lightblue;
    border-radius: 16px;
    transition: .3s;
    z-index: 3;
}

.button-wrapper:hover {
    border-radius: 0;
}

.button-wrapper:active {
    font-size: 0.8vw;
}

a {
    text-decoration: none;
    color:lightblue;
}

a:visited { 
    color: lightblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 56%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.typ {
    font-size:8vw;
    opacity: 0;
    width:0;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        fadeIn .5s 3s forwards,
        typing 2s 5s infinite,
        cursor .4s step-end infinite alternate;
}



@font-face {
    font-family: 'trench';
    src: url(assets/font/TrenchThin.ttf);
}

@font-face {
    font-family: 'navt';
    src: url(assets/font/Timeburner-xJB8.ttf);
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 100;}
}

@keyframes cursor{
    50% { border-color : transparent }
}

@keyframes fillIn {
    from{fill:transparent;}
    to{fill:lightblue;}
}

@keyframes typing {
    0%{width:3vw;}
    50%{width:100%}
    100%{width:3vw}
}

@keyframes fancyText {
    from{stroke-dasharray: 0 50%;}
    to{stroke-dasharray: 50% 0;}
}


@media screen and (max-width: 870px) {
    .welcome {
        font-size: 8vw;
        top:28vh;
    }

    .button-wrapper {
        font-size: 1.8vw;
    }
    .typ {
        font-size: 8vw;
    }
    .container {
        top:45%;
        left:51%;
    }
}