body {
    margin: 0;
    background-color: #f5f5f5;
    height: 100vh;
    overflow: hidden;
    font-family: 'meltixL';
}



.card {
    backdrop-filter: blur(10px);
    min-width: 35vh;
    height: 35vh;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(0, 0, 0, 0.15), 0px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 30px rgba(0, 0, 0, 0.25), 0px 0px 50px rgba(0, 0, 0, 0.3),
    0px 0px 120px rgba(0, 0, 0, 0.4); 
    background-color: #ffffff; 
}


.glare-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.heading {
    margin: 1.4vh 1.7vw 0 1.7vw;
    padding-bottom: 1.3vh;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid #333333; 
    color: #333333; 
    font-family: 'meltixB';
    position: relative;
}

.red::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff6b6b; 
    box-shadow: 0 0 8px #ff6b6b, 0 0 12px #ff6b6b, 0 0 16px #ff6b6b;
}

.yellow::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #f3ff4a;
    box-shadow: 0 0 8px #f3ff4a, 0 0 12px #f3ff4a, 0 0 16px #f3ff4a;
}

.green::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #24ff42;
    box-shadow: 0 0 8px #24ff42, 0 0 12px #24ff42, 0 0 16px #24ff42;
}

.blue::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #24a7ff;
    box-shadow: 0 0 8px #24a7ff, 0 0 12px #24a7ff, 0 0 16px #24a7ff;
}


.glare {
    position: absolute;
    left: 100%;
    bottom: -50%;
    width: 150%;
    height: 150%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 20%
    );
    transform: rotateZ(35deg);
    pointer-events: none;
    filter: blur(4px);
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    height:100vh;
    padding: 0 20vw 0 20vw;
}

@font-face {
    font-family: 'trench';
    src: url(../assets/font/TrenchThin.ttf);
}

@font-face {
    font-family: 'meltixB';
    src: url(../assets/font/Meltix_Bold_Demo.otf);
}

@font-face {
    font-family: 'meltixL';
    src: url(../assets/font/Meltix_Light_Demo.otf);
}

